/*!
 * Start Bootstrap - Shop Item (https://startbootstrap.com/template-overviews/shop-item)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-shop-item/blob/master/LICENSE)
 */
body {
  padding-top: 5em;
}
.navbar{
  background: #3B4CCA;
}